* {
  overflow: auto;
  margin: 0;
}

.nav-main {
  display: flex;
  top: 0;
  margin: 0;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background: white;
}

.nav-left {
  display: flex;
  align-items: center;
}

.Zen-Garden {
  justify-content: start;
  align-content: space-around;
}

.logo {
  margin-left: 1em;
  margin-right: 1em;
}

.About {
  margin-left: 1em;
  margin-right: 1em;
}

.card-container {
  height: 99%;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: 1px solid black;
  border-radius: 15%;
  flex: 1 100%;
  margin: 4px;
  /* width: 100%; */
}

.card-spacing {
  display: flex;
  /* flex: 1 100%; */
  /* width: 25%; */
}

.logo {
  height: 50px;
  width: 50px;
}

.footer {
  display: flex;
  width: 100vw;
  position: fixed;
  bottom: 0;
  margin: 0;
  background: black;
}

@media all and (max-width: 800px) {
  .nav-main {
    background-color: burlywood;
  }
}

@media all and (max-width: 500px) {
  .nav-main {
    background-color: cadetblue;
    display: block;
    direction: column;
  }

  .nav-right {
    display: block;
    direction: column;
  }
}